.questions
    min-height: 450px
    padding-top: 80px
    &__header
        font-weight: bold
        font-size: 36px
        text-align: center
        margin-bottom: 50px
    .popular__quest
        display: flex
        justify-content: space-between
        .quest__wrapper
            width: 560px
            margin-bottom: 10px
            .quest__border
                display: flex
                align-items: center
                justify-content: center
                height: 60px
                border-radius: 55px
                border: 3px solid #D8E4EB
                .quest__title
                    font-weight: bold
                    font-size: 16px
                    color: black
                .plus
                    background: #00C8C8
                    height: 24px 
                    width: 6px
                    position: relative 
                    left: 30px
                    transition: 0.5s all
                    &::after
                        content: ""
                        height: 6px 
                        width: 24px
                        background: #00C8C8
                        position: absolute 
                        left: -9px 
                        top: 9px
                &_active
                    .plus
                        background: none
                        width: 0
                    
            .quest__descr
                display: none
                font-size: 16px
                overflow: hidden
                margin: 30px 0 30px 0
            &_active
                .quest__descr
                    display: block

            




